.App {
  text-align: center;
  /*-webkit-filter: grayscale(1);*/
}

body {
  background-color: #b8cfa9;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
}

.navbar-container {
  display: flex;
  justify-content: center;
}

.headshot {
  height: 300px;
  width: 230px;
  padding: 20px;
  border-radius: 10px;
}

.card-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
  padding: 50px;
}
.card {
  background-color: white;
  margin: 30px;
  height: 600px;
  width: 300px;
  border-radius: 20px;
}