:root {
  --meal-text-color: #e5ffd0;
}

#meal-box {
  width: 47vw;
  height: 75vh;
  background-color: #6f3b2f;
  border-radius: 20px;
  margin-top: 5vh;
  overflow-y: auto;
  padding-bottom: 2.5vh;
}

.meal-box-container {
  display: flex;
  justify-content: center;
}

.date-text {
  color: var(--meal-text-color);
  font-size: 4em;
  margin-top: 3vh;
  margin-bottom: 1vh;
}
.title-line-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.meal-container {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  background-color: #7fa465;
  width: 30vw;
  border-radius: 15px;
}

.meal-text {
  color: var(--meal-text-color);
  font-size: 2.5em;
}

.meals-container {
  display: flex;
  justify-content: center;
  margin-top: 4.2vh;
  overflow-y: auto;
}

.meal-title {
  margin-left: 2vw;
}

.button-score {
  width: 5vw;
  display: flex;
  align-items: center;
}

.dropdown-button {
  all: unset;
  cursor: pointer;
}

.dropdown-icon {
  color: var(--meal-text-color);
  margin-top: 1vh;
  font-size: 4rem;
}

.food-container {
  padding-top: 0.5vh;
  padding-bottom: 3vh;
  width: 28vw;
  background-color: #7fa465;
  margin-top: 2vh;
  border-radius: 15px;
}
.flex-container {
  display: flex;
  justify-content: center;
}

.food-container {
  display: flex;
  flex-direction: column;
}
.rating-score {
  display: flex;
  flex-direction: row;
  margin-right: 2vw;
}

.title-rating-score {
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.indiv-meal-title {
  color: var(--meal-text-color);
  font-size: 1.25rem;
  margin-left: 1vw;
  text-align: left;
}

.score {
  margin-left: 1vw;
  color: var(--meal-text-color);
  font-size: 1.25rem;
}

.rating {
  font-size: 1.25rem;
}

.description {
  margin-left: 1vw;
  margin-top: 1vh;
  color: var(--meal-text-color);
  inline-size: 25vw;
  text-align: left;
}
