.navbar {
  width: 90vw;
  background-color: #536e41;
  height: 8vh;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3vh;
}

.title-container {
  margin-left: 1.5%;
}

.title {
  font-size: 3vw;
}

.nav-button {
  padding: 1vh;
  height: 3.5vh;
  width: 12vw;
  background-color: var(--nav-color, #6f3b2f);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-button {
  margin-left: 30vw;
}

.button-text {
  font-size: 2vw;
}

.about-button {
  margin-left: 2%;
}

.react-link {
  text-decoration: none;
  color: #e5ffd0;
}

.navbar-container {
  display: flex;
  justify-content: center;
}
